{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load filter_tags%}

{% block content %}
<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert"></div>
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link " href="{% url 'course:course' request.path|split:'/'|getValue:'2'%}">Videos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'course:quiz_list' request.path|split:'/'|getValue:'2' %}">Quiz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url 'course:taken_quiz_list' request.path|split:'/'|getValue:'2' %}">Grades</a>
    </li>
  </ul>

  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
  </div>
  <h2 class="mb-3">{{ quiz.name }}</h2>
  <p class="lead">{{ question.text }}</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Next →</button>
  </form>
{% endblock %}
